In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import Markdown
import geopandas
import plotly.express as px
import numpy

In [10]:
url = "../Data/Annual_population_eurostat(mandatory).csv"
table = pd.read_csv(url)

query = table.query("citizen == 'TOTAL' and sex =='T'").sort_values("2024 ")

display(query.head(20))

,country,citizen,sex,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
491,EL,TOTAL,T,10858018,10783748,10768193,10741165,10724599,10718565,10678632,10459782 b,10413982,10400720
516,SE,TOTAL,T,9747355,9851017,9995153,10120242,10230185,10327589,10379295,10452326,10521556,10551707
513,PT,TOTAL,T,10395121,10368554,10344478,10335770,10333496,10375395,10394297,10421117,10516621,10639726
487,CZ,TOTAL,T,10538275,10553843,10578820,10610055,10649800,10693939,10494836 b,10516707,10827529,10900555
483,BE,TOTAL,T,11237274,11311117,11351727,11398589,11455519,11522440,11554767,11617623,11742796,11817096
490,EE,TOTAL,T,1314870 b,1315944,1315635,1319133,1324820,1328976,1330068,1331796,1365884,1374687
510,NL,TOTAL,T,16900726,16979120,17081507,17181084,17282163,17407585,17475415,17590672,17811291,17942942
505,LV,TOTAL,T,1986096,1968957,1950116,1934379,1919968,1907675,1893223,1875757,1883008,1871882
514,RO,TOTAL,T,19870647,19760585,19643949,19533481,19414458,19328838 e,19201662,NaN,19054548 e,19067576 e
517,SI,TOTAL,T,2062874,2064188,2065895,2066880,2080908,2095861,2108977,2107180,2116972,2123949
506,MD,TOTAL,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2423287 ep
503,LT,TOTAL,T,2926644,2895573,2859077,2826200,2812200,2809977,2810761,2805998,2857279,2885891
481,AM,TOTAL,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2991201
512,PL,TOTAL,T,38005614 p,37967209 ep,37972964 ep,37976687 ep,37972812,37958138 ep,37073357 bep,36889761 ep,36753736 ep,36620970
496,GE,TOTAL,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3694608
500,IS,TOTAL,T,329100,332529,338349,348450,356991,364134,368792,376248,387758,383567
497,HR,TOTAL,T,4180915,4131115,4078769,4014341,3968676,3933511,3893026,3862305 b,3850894,3861967
502,LI,TOTAL,T,37366,37622,37810,38114,38378,38747,39055,39308,39677,40015
493,EU27_2020,TOTAL,T,442911027 be,443987823 e,444655529 be,445287011 e,446135629 b,447015600 e,445872542 bep,445972024 ep,447695350 bep,449306184 ep
492,ES,TOTAL,T,46425722,46418884,46497393,46645070,46918951,47318050,47400798,47486843,48085361,48619695