In [21]:
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import Markdown
import geopandas
import plotly.express as px
import numpy

### Functions:
- Basic query functions
- Search countries
- todo

In [22]:
def country_query(table,*countries):
    query_str = ""
    if type(countries)==str:
        query_str +="country == '" + countries +"'"
    else:
        for country in countries:
            query_str += "or country == '" + country +"'"
        query_str = query_str[2:]


    return table.query(query_str)

### Experimentation

In [25]:
url = "../Data/Annual_population_eurostat(mandatory).csv"
table = pd.read_csv(url)

query = country_query(table,"SK","CZ","PL").query("sex == 'T'").sort_values("2024",ascending=False)


# query = table.query("citizen == 'TOTAL' and sex =='T'").sort_values("2024 ")

display(query.head(20))

,country,citizen,sex,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
169,CZ,NAT,T,10080950,10077497,10067977,10094632,10092342,10107293,10006304 b,9978470,9972441,9954995
388,PL,STLS,T,1722 p,569 ep,547 ep,558 ep,600,599 ep,636 ep,635 ep,631 ep,618 ep
518,SK,TOTAL,T,5421349,5426252,5435343,5443120,5450421,5457873,5459781,5434712,5428792,5424687
195,SK,NAT,T,5359583,5360412,5365648,5370237,5374305,5378937,5377706,5371646,5364540,5358701
393,SK,STLS,T,1500,1499,1497,1495,1495,1493,1493,5,5,5
512,PL,TOTAL,T,38005614 p,37967209 ep,37972964 ep,37976687 ep,37972812,37958138 ep,37073357 bep,36889761 ep,36753736 ep,36620970
190,PL,NAT,T,37891051 p,37811676 ep,37756724 ep,37731606 ep,37683061,37599899 ep,36623052 ep,36445251 ep,36314890 ep,36187908 ep
621,SK,UNK,T,0,0,0,0,0,0,0,2924,2905,2999
616,PL,UNK,T,6284 p,5947 ep,5912 ep,5851 ep,0,0 ep,2863 ep,2849 ep,2882 ep,2816 ep
367,CZ,STLS,T,0,0,0,0,0,0,273 b,257,255,232
487,CZ,TOTAL,T,10538275,10553843,10578820,10610055,10649800,10693939,10494836 b,10516707,10827529,10900555
595,CZ,UNK,T,2,1,2,1,0,0,0 b,0,0,0
68,CZ,EU28_FOR,T,184330,195438,208262,219350,232511,245000,NaN,NaN,NaN,NaN
88,PL,EU28_FOR,T,29962 p,25091 ep,29447 ep,30098 ep,31644,36598 ep,NaN,NaN,NaN,NaN
93,SK,EU28_FOR,T,47202,50440,53511,55949,58308,60311,NaN,NaN,NaN,NaN
266,CZ,NEU28_FOR,T,272993,280907,302579,296072,324947,341646,NaN,NaN,NaN,NaN
286,PL,NEU28_FOR,T,76595 p,123926 ep,180334 ep,208574 ep,257507,321042 ep,NaN,NaN,NaN,NaN
291,SK,NEU28_FOR,T,13064,13901,14687,15439,16313,17132,NaN,NaN,NaN,NaN