Importing libraries

In [38]:
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import Markdown
import geopandas
import plotly.express as px
import numpy
import seaborn as sns

Setting up the table

In [39]:
table=pd.read_csv("../Data/housing_prices.csv")
table=table.drop(columns=["DATAFLOW","LAST UPDATE","freq"])
states=table["geo"].unique()
print(table.groupby(by=["geo","OBS_VALUE"]).head())

                              purchase                       unit  \
0      Purchases of existing dwellings  Quarterly index, 2010=100
1      Purchases of existing dwellings  Quarterly index, 2010=100
2      Purchases of existing dwellings  Quarterly index, 2010=100
3      Purchases of existing dwellings  Quarterly index, 2010=100
4      Purchases of existing dwellings  Quarterly index, 2010=100
...                                ...                        ...
29513                            Total   Quarterly rate of change
29515                            Total   Quarterly rate of change
29516                            Total   Quarterly rate of change
29517                            Total   Quarterly rate of change
29519                            Total   Quarterly rate of change

                  geo TIME_PERIOD  OBS_VALUE OBS_FLAG CONF_STATUS
0             Austria     2010-Q1      96.33      NaN         NaN
1             Austria     2010-Q2      99.89      NaN         NaN
2             Austria     2010-Q3     101.64      NaN         NaN
3             Austria     2010-Q4     102.14      NaN         NaN
4             Austria     2011-Q1     101.66      NaN         NaN
...               ...         ...        ...      ...         ...
29513  United Kingdom     2019-Q1      -1.20      NaN         NaN
29515  United Kingdom     2019-Q3       1.70      NaN         NaN
29516  United Kingdom     2019-Q4      -0.40      NaN         NaN
29517  United Kingdom     2020-Q1       0.00      NaN         NaN
29519  United Kingdom     2020-Q3       3.00      NaN         NaN

[27677 rows x 7 columns]