In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import Markdown
import geopandas
import plotly.express as px
import numpy
import seaborn as sns

#### Table

In [2]:
url = "../Data/Annual_population_eurostat(mandatory).csv"
table = pd.read_csv(url)
display(table.head())

,Country,ISO3,citizen,sex,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Austria,AUT,EU28_FOR,F,288028.0,310759.0,329981.0,348012.0,365125.0,383295.0,NaN,NaN,NaN,NaN
1,Belgium,BEL,EU28_FOR,F,416232.0,428008.0,434889.0,440355.0,448655.0,457258.0,NaN,NaN,NaN,NaN
2,Switzerland,CHE,EU28_FOR,F,594052.0,610566.0,622893.0,630371.0,637330.0,645916.0,NaN,NaN,NaN,NaN
3,Cyprus,CYP,EU28_FOR,F,55730.0,57716.0,57673.0,59787.0,63044.0,62935.0,NaN,NaN,NaN,NaN
4,Czechia,CZE,EU28_FOR,F,72465.0,76736.0,81670.0,86132.0,91296.0,96186.0,NaN,NaN,NaN,NaN

### Percentage of foreign born in country

In [4]:
#Save images
def percent_natural_born(country):
    pop_new = []
    country_main = table.query("Country =='"+country+"' and sex=='T' and citizen == 'TOTAL'")
    country_natural = table.query("Country =='"+country+"' and sex=='T' and citizen == 'NAT'")
    # display(country_main.head())
    try:
        for i in range(10):
            pop_new.append(country_natural.iloc[0,i+4]/country_main.iloc[0,i+4]*100)
    

        years = [x for x in range(2015,2025,1)]

        figure, axes = plt.subplots()
        axes.plot(years,pop_new)

        axes.set_xlabel('Year')
        axes.set_ylabel('Population')
        axes.set_ylim(75)
        axes.set_title('Percentage of natural born citizens in '+country)
        
        #Saving figure
        dir_name = "../Images/"+country
        try:
            os.makedirs(dir_name)
            # print(f"Directory '{dir_name}' created successfully!")
        except FileExistsError:
            pass
            # print(f"Directory '{dir_name}' already exists.")
        except Exception as e:
            pass
            # print(f"Error creating directory: {e}")

        figure.savefig(dir_name+"/natural_percent_"+country.lower()+".png")
        plt.close(figure)
        # figure.savefig("test.png")
        pass
    except:
            print(country)

# display(table.query("Country == 'Germany' and sex=='T'"))
# percent_natural_born("Germany")

for country in table.Country.unique():
    percent_natural_born(country)

Albania
Armenia
Georgia
Moldova, Republic of
Montenegro
North Macedonia
Serbia
Ukraine