# Immigration data

In [2]:
import pandas as pd
from IPython.display import Markdown;
import numpy

## immigration_citizenship.tsv

In [23]:
url = "../../Data/immigration/immigration_citizenship.tsv"
table_raw = pd.read_csv(url,sep='\t')
year_range = range(1998,2024,1)

In [24]:

age = []
agedef = []
birth_country = []
sex = []
country = []

for index,row in table_raw.iterrows():
    title_split = (row[0].split(","))
    

    age_str = title_split[1][1:]
    
    if age_str.isnumeric():
        age.append(age_str)

    else:
        if title_split[1]=="Y_GE100":
            age.append(str(100))
        elif title_split[1]=="Y_LT1":
            age.append(str(0))
        else:
            age.append(title_split[1]) 

    agedef.append(title_split[2])
    birth_country.append(title_split[3])
    sex.append(title_split[5])
    country.append(title_split[6])
    
    

table_raw["age"]= age
table_raw["agedef"] = agedef
table_raw["birth_country"] = birth_country
table_raw["sex"]=sex
table_raw["country"]=country

table_raw.drop(columns=["freq,age,agedef,citizen,unit,sex,geo\TIME_PERIOD"],inplace=True)
display(table_raw.head())

<>:37: SyntaxWarning: invalid escape sequence '\T'
<>:37: SyntaxWarning: invalid escape sequence '\T'
C:\Users\askov\AppData\Local\Temp\ipykernel_27500\3113584253.py:37: SyntaxWarning: invalid escape sequence '\T'
  table_raw.drop(columns=["freq,age,agedef,citizen,unit,sex,geo\TIME_PERIOD"],inplace=True)
C:\Users\askov\AppData\Local\Temp\ipykernel_27500\3113584253.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  title_split = (row[0].split(","))

,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,...,2019,2020,2021,2022,2023,age,agedef,birth_country,sex,country
0,28638,35797,:,34825,39696 b,44245,48664,45613,38905,31751,...,46329,42715,46214,97378,64503,TOTAL,COMPLET,FOR_STLS,F,AT
1,29382,33021,31296,39605,40608,40118,42604,48787,49847,52652,...,59833,47172,55678,93814,71027,TOTAL,COMPLET,FOR_STLS,F,BE
2,:,:,:,:,:,:,:,:,:,25,...,6588 p,6190 p,6852,8357,18085,TOTAL,COMPLET,FOR_STLS,F,BG
3,36508,:,42245,:,:,:,49223,47344,50424,65014,...,57407,53380,57705,66610,117356,TOTAL,COMPLET,FOR_STLS,F,CH
4,:,:,:,:,:,:,:,:,:,:,...,11953,12580,11222,15632,19850 b,TOTAL,COMPLET,FOR_STLS,F,CY

#### Reindexing, renaming columns, adding ISO3 codes

In [25]:
#rename country codes
country_codes = pd.read_csv("../../Data/country-region-codes.csv")
new_columns = {}

#numeric columns
for column in table_raw.columns:
    if column.strip().isnumeric():
        new_columns[column] = int(column.strip())
    else:
        new_columns[column]=column
        
table = table_raw.rename(columns=new_columns)
table.rename(columns={"country":"alpha-2"},inplace=True)

table = pd.merge(table,country_codes,on="alpha-2").drop(columns=["country-code","alpha-2"]).rename(columns={"name":"Country","alpha-3":"ISO3"})

#reordering

new_order = list(table.columns[-6:])+[i for i in year_range]# IMPORTANT to set -6 to number of non numeric columns

table = table[new_order]
display(table.head())

,age,agedef,birth_country,sex,Country,ISO3,1998,1999,2000,2001,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,TOTAL,COMPLET,FOR_STLS,F,Austria,AUT,28638,35797,:,34825,...,48788,65441,55097,48739,45444,46329,42715,46214,97378,64503
1,TOTAL,COMPLET,FOR_STLS,F,Belgium,BEL,29382,33021,31296,39605,...,51236,56379,50222,51820,55655,59833,47172,55678,93814,71027
2,TOTAL,COMPLET,FOR_STLS,F,Bulgaria,BGR,:,:,:,:,...,7295 p,6276,5522,5844 p,5960 p,6588 p,6190 p,6852,8357,18085
3,TOTAL,COMPLET,FOR_STLS,F,Switzerland,CHE,36508,:,42245,:,...,62616,61336,59968,57238,57673,57407,53380,57705,66610,117356
4,TOTAL,COMPLET,FOR_STLS,F,Cyprus,CYP,:,:,:,:,...,5630,7362,7437,9498,10230,11953,12580,11222,15632,19850 b

#### Fixing values
Renaming : to NaN
fixing provisional data

In [26]:
replaced = table.copy()

#fix numeric values
for column in replaced.columns:
    replaced[column] = replaced[column].apply(str.strip)
    # print(type(replaced[column][0]))

replaced.replace(to_replace=":",value=numpy.nan,inplace=True)

#tags
tags = ["b","p","ep","e","be","bep","P"]

#I used Deepseek AI for this, it was quite complex
pattern = r'\b(?:' + '|'.join(tags) + r')\b'

# Apply the replacement to all columns (or specify specific columns)
df = replaced.apply(lambda x: x.str.replace(pattern, '', regex=True).str.strip())

#### Saving to file

In [27]:
path = "../../Data/immigration/immigration_citizenship.csv"

display(df.head())
# df.to_csv(path,index=False)

,age,agedef,birth_country,sex,Country,ISO3,1998,1999,2000,2001,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,TOTAL,COMPLET,FOR_STLS,F,Austria,AUT,28638,35797,NaN,34825,...,48788,65441,55097,48739,45444,46329,42715,46214,97378,64503
1,TOTAL,COMPLET,FOR_STLS,F,Belgium,BEL,29382,33021,31296,39605,...,51236,56379,50222,51820,55655,59833,47172,55678,93814,71027
2,TOTAL,COMPLET,FOR_STLS,F,Bulgaria,BGR,NaN,NaN,NaN,NaN,...,7295,6276,5522,5844,5960,6588,6190,6852,8357,18085
3,TOTAL,COMPLET,FOR_STLS,F,Switzerland,CHE,36508,NaN,42245,NaN,...,62616,61336,59968,57238,57673,57407,53380,57705,66610,117356
4,TOTAL,COMPLET,FOR_STLS,F,Cyprus,CYP,NaN,NaN,NaN,NaN,...,5630,7362,7437,9498,10230,11953,12580,11222,15632,19850

## immigration_country_born.tsv

In [28]:
url = "../../Data/immigration/immigration_country_born.tsv"
table_raw = pd.read_csv(url,sep='\t')
year_range = range(2008,2024,1)

age = []
agedef = []
birth_country = []
sex = []
country = []

for index,row in table_raw.iterrows():
    title_split = (row[0].split(","))
    
    age_str = title_split[1][1:]
    
    if age_str.isnumeric():
        age.append(age_str)

    else:
        if title_split[1]=="Y_GE100":
            age.append(str(100))
        elif title_split[1]=="Y_LT1":
            age.append(str(0))
        else:
            age.append(title_split[1]) 

    agedef.append(title_split[2])
    birth_country.append(title_split[3])
    sex.append(title_split[5])
    country.append(title_split[6])
    
    

table_raw["age"]= age
table_raw["agedef"] = agedef
table_raw["birth_country"] = birth_country
table_raw["sex"]=sex
table_raw["country"]=country

table_raw.drop(columns=["freq,age,agedef,c_birth,unit,sex,geo\TIME_PERIOD"],inplace=True)

<>:40: SyntaxWarning: invalid escape sequence '\T'
<>:40: SyntaxWarning: invalid escape sequence '\T'
C:\Users\askov\AppData\Local\Temp\ipykernel_27500\2104051755.py:40: SyntaxWarning: invalid escape sequence '\T'
  table_raw.drop(columns=["freq,age,agedef,c_birth,unit,sex,geo\TIME_PERIOD"],inplace=True)
C:\Users\askov\AppData\Local\Temp\ipykernel_27500\2104051755.py:12: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  title_split = (row[0].split(","))

#### Reindexing, renaming columns, adding ISO3 codes

In [29]:
#rename country codes
country_codes = pd.read_csv("../../Data/country-region-codes.csv")
new_columns = {}

#numeric columns
for column in table_raw.columns:
    if column.strip().isnumeric():
        new_columns[column] = int(column.strip())
    else:
        new_columns[column]=column
        
table = table_raw.rename(columns=new_columns)
table.rename(columns={"country":"alpha-2"},inplace=True)

table = pd.merge(table,country_codes,on="alpha-2").drop(columns=["country-code","alpha-2"]).rename(columns={"name":"Country","alpha-3":"ISO3"})

#reordering
new_order = list(table.columns[-6:])+[i for i in year_range]

table = table[new_order]
# display(table.head())

#### Fixing values
Renaming : to NaN
fixing provisional data

In [30]:
replaced = table.copy()

#fix numeric values
for column in replaced.columns[3:]:
    replaced[column] = replaced[column].apply(str.strip)
    # print(type(replaced[column][0]))

replaced.replace(to_replace=":",value=numpy.nan,inplace=True)

#tags
tags = ["b","p","ep","e","be","bep","P"]

#I used Deepseek AI for this, it was quite complex
pattern = r'\b(?:' + '|'.join(tags) + r')\b'

# Apply the replacement to all columns (or specify specific columns)
df = replaced.apply(lambda x: x.str.replace(pattern, '', regex=True).str.strip())

#### Saving to file

In [31]:
path = "../../Data/immigration/immigration_country_born.csv"

# df.to_csv(path,index=False)

## non_eu_population.csv

In [ ]:
df = pd.read_csv("../../Data/immigration/non_eu_population2.csv")
country_codes = pd.read_csv('../../Data/country_region_subregion_codes.csv')

merged_df = df.merge(country_codes, left_on='geo', right_on='alpha-2', how='left')

merged_df = merged_df.drop(columns=['Observation status (Flag) V2 structure','Confidentiality status (flag)','CONF_STATUS','OBS_FLAG', 'Observation value', 'Country of citizenship', 'name', 'alpha-2', 'country-code','iso_3166-2','intermediate-region','region-code','sub-region-code','intermediate-region-code', 'STRUCTURE', 'STRUCTURE_ID', 'STRUCTURE_NAME', 'freq', 'Time frequency', 'unit', 'Unit of measure', 'sex', 'Time'])
merged_df = merged_df.rename(columns={'geo': 'ISO2', 'Geopolitical entity (reporting)': 'Country', 'TIME_PERIOD': 'year', 'OBS_VALUE': 'count', 'alpha-3': 'ISO3',})

display(merged_df)

file_save_path = "../../Data/immigration/non_eu_population.csv"
merged_df.to_csv(file_save_path,index=False)

,citizen,age,Age class,Sex,ISO2,Country,year,count,ISO3,region,sub-region
0,NEU27_2020_FOR,TOTAL,Total,Total,AT,Austria,2017,683575,AUT,Europe,Western Europe
1,NEU27_2020_FOR,TOTAL,Total,Total,AT,Austria,2018,698133,AUT,Europe,Western Europe
2,NEU27_2020_FOR,TOTAL,Total,Total,AT,Austria,2019,703443,AUT,Europe,Western Europe
3,NEU27_2020_FOR,TOTAL,Total,Total,AT,Austria,2020,711778,AUT,Europe,Western Europe
4,NEU27_2020_FOR,TOTAL,Total,Total,AT,Austria,2021,719393,AUT,Europe,Western Europe
...,...,...,...,...,...,...,...,...,...,...,...
854,TOTAL,TOTAL,Total,Total,UK,United Kingdom,2015,64853393,GBR,Europe,Northern Europe
855,TOTAL,TOTAL,Total,Total,UK,United Kingdom,2016,65379044,GBR,Europe,Northern Europe
856,TOTAL,TOTAL,Total,Total,UK,United Kingdom,2017,65844142,GBR,Europe,Northern Europe
857,TOTAL,TOTAL,Total,Total,UK,United Kingdom,2018,66273576,GBR,Europe,Northern Europe
858,TOTAL,TOTAL,Total,Total,UK,United Kingdom,2019,66647112,GBR,Europe,Northern Europe